* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #391770;
  color: antiquewhite;
}

.App-header {
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  background-color: #191b20;
}

.about {
  padding: 2rem;
}

.about img {
  float: left;
}

.bio {
  width: 75%;
  padding-left: 3rem;
  padding-right: 5rem;
  float: right;
}

main h2, h3 {
 padding-bottom: 2rem;
 margin-top: 2rem;
}

.projects {
  clear:both;
}
.project-item {
  margin-top: 1rem;
}

.project-item p {
  margin-bottom: 1rem;
}

a {
  color: pink;
  padding-bottom: 1rem;
}

footer {
  padding-bottom: 2rem;
  margin-top: 1rem;
}
